{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>
        {% if event.sport_type=="football" %} 
    ⚽️ 
    {% elif event.sport_type=="basketball" %}
    🏀 
    {% elif event.sport_type=="handball" %}
    🤾🏻
    {% elif event.sport_type=="volleyball" %}
    🏐
    {% endif %} 
        Csapatok hozzárendelése {{ event.name }} eseményhez
        {% if event.sport_type=="football" %} 
    ⚽️ 
    {% elif event.sport_type=="basketball" %}
    🏀 
    {% elif event.sport_type=="handball" %}
    🤾🏻
    {% elif event.sport_type=="volleyball" %}
    🏐
    {% endif %} 
    
    </h1>
{% if not existing_matches %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.team.label }}<br>
        {{ form.team(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.group.label }}<br>
        {{ form.group(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endif %}

    <h2>Jelenlegi csapatok és csoportok:</h2>
    <ol>
        {% for team in teams %}
            <li>
              {{ team.name }} 
              - Csoport: 
              
              {% for group in groups %}
                {% if group.id == team.group_id %}
                    {{ group.name }} 
                {% endif %}
              
              {% endfor %}
              
            </li>
        {% endfor %}
        </ul>

    <h2>Elérhető csoportok:</h2>
    <ul>
    {% for group in groups[:event.num_of_groups] %}
        <li>{{ group.name }}</li>
    {% endfor %}
    {% if all_assigned %}
    <a href="{{ url_for('create_group_matches', event_id=event.id) }}" class="btn btn-secondary">Tovább a mérkőzésekre</a>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Minden csapatnak kell, hogy legyen csoportja
    </div>
    {% endif %}

</div>
{% endblock %}

