{% extends "base.html" %}
{% block content %}

<h1>Mérkőzés kiválasztása</h1>
<div class="container">
    
        
        <ul class="list-group">
            {% for match in matches %}
            <li class="list-group-item">
                
                {% if not event.is_ended %}
                {% if match.team1_score is none and match.team2_score is none %}
                <a href="{{ url_for('enter_result', event_id=event.id, match_id=match.id) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                    {{ match.team1.name }} vs. {{ match.team2.name }}
                    {% else %}
                    <a href="{{ url_for('enter_result', event_id=event.id, match_id=match.id) }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">
                        {{ match.team1.name }} vs. {{ match.team2.name }}
                        {{ match.team1_score }} : {{ match.team2_score }}
                    {% endif %}
                </a>
                {% else %}
                <button type="button" class="btn btn-secondary btn-lg" disabled>
                    {{ match.team1.name }} vs. {{ match.team2.name }}
                    {% if match.team1_score is not none and match.team2_score is not none %}
                    {{ match.team1_score }} : {{ match.team2_score }}
                    {% endif %}
                </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div style="margin-top: 20px;">
            <a href="{{ url_for('round_robin_overview', event_id=event.id) }}" class="btn btn-secondary">Tabella</a>
        </div>
        {% if round_robin_checker and not event.is_ended %}
        <div style="margin-top: 20px;">
            <a href="{{ url_for('close_round_robin_event', event_id=event.id) }}" class="btn btn-secondary">Esemény lezárása</a>
            <div class="alert alert-danger" role="alert">
                Ha lezárod az eseményt, akkor később már nem tudod módosítani az eredményeket!
            </div>
        </div>
        {% endif %}
        {% if event.is_ended %}
        <div style="margin-top: 20px;">
            <a href="{{ url_for('event_result', event_id=event.id) }}" class="btn btn-secondary">Végeredmény</a>
        </div>
        {% endif %}
</div>

{% endblock %}


