{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  {% if events %}
  <h1>Ezek az eddig létrehozott események:</h1>
  <ul class="list-group">
    {% for event in events %}
    <li class="list-group-item">
      {{ event.name }} - 
      {% if event.event_type=="group_knockout" %}
      Csoportmérkőzések, majd egyeneskiesés
      {% elif event.event_type=="knockout" %}
      Egyeneskiesés
      {% elif event.event_type=="round_robin" %}
      Körmékőzések
      {% endif %}
      <form method="POST" action="{{ url_for('del_event') }}" style="display:inline;">
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <button type="submit" class="btn btn-danger">Törlés</button>
      </form>
      <a href="{{ url_for('manage_event', event_id=event.id) }}" class="btn btn-primary">Esemény kezelése</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h1>Még nincs esemény létrehozva.</h1>
  {% endif %}
</div>
{% endblock %}



