{% extends "base.html" %}
{% block content %}
<h1>Mérkőzés kiválasztása {{ event.name }}</h1>
<div class="container">
    
        <ul class="list-group">
            {% for match in matches %}
            <li class="list-group-item">
                {% if not existing_next_stage %}
                {% if match.team1_score is none and match.team2_score is none %}
                <a href="{{ url_for('enter_result', event_id=event.id, match_id=match.id) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">
                    {{ match.team1.name }} vs. {{ match.team2.name }}
                    {% else %}
                    <a href="{{ url_for('enter_result', event_id=event.id, match_id=match.id) }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">
                        {{ match.team1.name }} vs. {{ match.team2.name }}
                        {{ match.team1_score }} : {{ match.team2_score }}
                    {% endif %}
                </a>
                {% else %}
                <button type="button" class="btn btn-success btn-lg" disabled>
                    {{ match.team1.name }} vs. {{ match.team2.name }}
                    {% if match.team1_score is not none and match.team2_score is not none %}
                    {{ match.team1_score }} : {{ match.team2_score }}
                    {% endif %}
                </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div style="margin-top: 20px;">
            {% if checker and not_draw_in_group %}
                <a href="{{ url_for('knockout_stage', event_id=event.id, group_id=group_id) }}" class="btn btn-secondary">{% if matches_count==1 %} Esemény lezárása {% else %}Következő Knock Out Kör {% endif %}</a>
            {% else %}
                {% if not not_draw_in_group %}
                    <div class="alert alert-warning" role="alert">
                        Kieséses szakaszban nem lehet döntetlen!
                    </div>
                {% elif not checker %}
                    <div class="alert alert-warning" role="alert">
                        A következő szakaszt akkor tudjuk elkezdeni, ha ebben a szakaszban minden mérkőzésnek van eredménye rögzítve.
                    </div>
                {% endif %}
            {% endif %}
        </div>
        

        
   
    
 
</div>

{% endblock %}
