{% extends "base.html" %}
{% block content %}

<h1>{{event.name}} kezelése {% if event.sport_type=="football" %} ⚽️ {% endif %} </h1>
{{event.sport_type}}
<div class="container">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('add_team', event_id=event.id) }}" role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Csapatok</button></a>
             
        
        {% if matches %}
    <a class="group_idnav-item nav-link" href="{{ url_for('list_knockout_stage_matches', event_id=event.id, group_id=max_group_id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Kieséses szakasz</button></a>
        {% endif %}
        
        {% if event.is_ended %}
        <a class="group_idnav-item nav-link" href="{{ url_for('event_result', event_id=event.id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Végeredmény megtekintése</button></a>
        {% endif %}
        
  
      </div> 
</div>

{% endblock %}
