{% extends "base.html" %}
{% block content %}

<h1>
    {% if event.sport_type=="football" %} 
    ⚽️ 
    {% elif event.sport_type=="basketball" %}
    🏀 
    {% elif event.sport_type=="handball" %}
    🤾🏻
    {% elif event.sport_type=="volleyball" %}
    🏐
    {% endif %} 
    {{event.name}} kezelése 
    {% if event.sport_type=="football" %} 
    ⚽️ 
    {% elif event.sport_type=="basketball" %}
    🏀 
    {% elif event.sport_type=="handball" %}
    🤾🏻
    {% elif event.sport_type=="volleyball" %}
    🏐
    {% endif %} 
</h1>
<div class="container">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('add_team', event_id=event.id) }}" role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Csapatok</button></a>
        {% if groups %}
        <a class="nav-item nav-link" href="{{ url_for('assign_team_to_group', event_id=event.id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Csapatok beosztása csoportokba</button></a>
        {% endif %}
        {% if matches %}
        <a class="group_idnav-item nav-link" href="{{ url_for('select_match', event_id=event.id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Csoport mérkőzések</button></a>
        {% endif %}

        {% if event_state in ["knock_out", "advance_to_knockout"] %}
    <a class="group_idnav-item nav-link" href="{{ url_for('list_knockout_stage_matches', event_id=event.id, group_id=max_group_id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Kieséses szakasz</button></a>
        {% endif %}
        
        {% if event.is_ended %}
        <a class="group_idnav-item nav-link" href="{{ url_for('event_result', event_id=event.id) }}"  role="button" aria-pressed="true"><button type="button" class="btn btn-outline-info">Végeredmény megtekintése</button></a>
        {% endif %}
        
  
      </div> 
</div>

{% endblock %}
